* {
  background-color: #6391FF;
  color: #D7FFBC;
  text-align: center;
}
h1 {
  color: white;
  font-size: 32px;
}
img {
  opacity: .75;
}
img:hover {
  opacity: 1;
  width: 250px;
  height: 250px;
}
li {
  list-style-type: none;
}